<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WeatherAutomationSuite" verbose="1">
    <listeners>
        <listener class-name="com.weather.automation.listeners.TestListener"/>
    </listeners>

    <test name="WeatherSearchTests">
        <classes>
            <class name="com.weather.automation.tests.WeatherSearchTests"/>
        </classes>
    </test>
</suite>
